.content {
  width: 1000px;
  margin: 20px auto;
}

.image {
  width: 200px;
  height: 200px;
  border: 1px solid rgb(192,192,192);
  margin: 100px auto;
  background-image: url("https://pg12138.oss-cn-beijing.aliyuncs.com/img/%E6%88%AA%E5%B1%8F2020-04-3015.11.06.png");
  background-size: cover;
}
.main{
  width: 700px;
  height: 600px;
  border: 1px solid #edeeee;
  margin: 100px auto;
  background-color: white;

}
.title{
  width: 100%;
  height: 80px;
  //border: 1px solid cadetblue;
  font-weight: bold;
  font-size: 20px;
  padding: 14px 25px;
  margin: 0;
  line-height: 50px;
}
.name {
  display: inline-block;
}
.time {
  font-size: 15px;
  color:rgb(182,182,182);
  display: inline-block;
  float: right;

}
.essay {
  height: 440px;
}
.essImg{
  height: 300px;
  //border: 1px solid cadetblue;
}
.comment{
  border-bottom: #edeeee 1px solid;
  margin: 1.5em 1.5em 0.5em 1.5em;
  height: 140px;
  color: rgb(78, 78, 78);
  font-weight: 400;
  font-size: 115%;
}
.footer{
  width: 100%;
  height: 80px;
  //border: 1px solid cadetblue;
}

.essImg {
  background-image: url("https://pg12138.oss-cn-beijing.aliyuncs.com/img/%E6%88%AA%E5%B1%8F2020-04-3015.22.38.png");
  background-size: cover;
}
.logo{
  display: inline-block;
  background-image: url("https://pg12138.oss-cn-beijing.aliyuncs.com/img/React.png");
  background-size: cover;
  width: 40px;
  height: 40px;
  margin: 30px 0 0 30px;
}
.button{
  display: inline-block;
  float: right;
  color: rgb(78, 78, 78);
  font-weight: 500;
  font-size: 1em;
  line-height: 30px;
  width: auto;
  min-width: 70px;
  height: 32px;
  border-radius: 3px;
  padding: 0 28px;
  background: white;
  border: 1px solid #D5D6D8;
  margin: 33px 33px 0 0px;
}