node_modules
.vscode
dist
id_github_rsa
id_github_rsa.pub
ssl/ssl.crt
ssl/ssl.key
src/.umi/*
src/.umi-production
package-lock.json
yarn-error.log
yarn.lock
pnpm-lock.yaml
.umi
*.DS_Store
.mfsu-production

