@font-face {
    font-family: 'iconfont';
    src: url('./iconfont.eot');
    src: url('./iconfont.eot?#iefix') format('embedded-opentype'),
        url('./iconfont.woff2') format('woff2'),
        url('./iconfont.woff') format('woff'),
        url('./iconfont.ttf') format('truetype'),
        url('./iconfont.svg#iconfont') format('svg');
}


.iconfont {
    font-family: "iconfont" !important;
    font-size: 18px;
    font-weight: 600;
    color: #555;
    // text-align: center;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.aside {
    float: right;
    width: 275px;
    height: 800px;
}

.module {
    border-radius: 8px;
    padding:2px 20px;
    padding-bottom: 20px;
    margin-bottom: 20px;
    background-color: white;
}
.img {
    border-radius: 8px;
    width: 275px;
    // height: 300px;
}
h2 {
    margin: 20px 0;
}